<html>
  <head>
    <title>index</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div>
      <% if (user.name) { %>
        <h2><%= user.name %></h2>
      <% } else { %>
        <h2>Rodney Mckay</h2>
      <% } %>
    </div>
    <script src="main.js"></script>
  </body>
</html>